<html>

<head>
    {% if title %}
    <title>{{ title }} - Myblog</title>
    {% else %}
    <title>Myblog</title>
    {% endif %}
</head>

<body>
    <div>
        Myblog:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>